{% extends "hollux/Base/base.html.twig" %}

{% block principal %}

    <p>LALALAA VUEJS NUXT</p>
    <br>
    <ul>
        {% for val in array %}
            <li>{{ val }}</li>
        {% endfor %}
    </ul>

{% endblock %}