{% extends "hollux/Base/base.html.twig" %}


{% block principal %}
    <div class="blocHaut">
        <div class="container">
            <h1>Curriculum Vitae</h1>
            <p>types de poste et d'entreprise recherchés + pourquoi te recruter</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 CV">
                <div class="CV">
                    <div class="row">
                        <div class="col-sm-3"><b>Adrien Marchand</b></div>
                        <div class="col-sm-offset-6 col-sm-3">Permis B + véhicule</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Né le 19 mars 1991</div>
                        <div class="col-sm-9"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">hollux@hotmail.fr</div>
                        <div class="col-sm-9"></div>
                    </div>
                    <h2 class="text-center"><b>Développeur web Fullstack</b></h2>
                    <br>
                    <h3>Compétences</h3>
                    <br>
                    <ul>
                        <li>
                            <p>Utilisation de différents langages : HTML5, CSS3, PHP, Javascript, Less.</p>
                        </li>
                        <li>
                            <p>Réalisation de sites web : site vitrine, forum, chat, ecommerce.</p>
                        </li>
                        <li>
                            <p>Gestion de base de données avec mySQL.</p>
                        </li>
                        <li>
                            <p>Mise en place de sécurité sur le site.</p>
                        </li>
                        <li>
                            <p>Développement du produit en MVC pour une gestion plus claire.</p>
                        </li>
                    </ul>
                    <br>

                    <h3>Expériences professionnelles</h3>
                    <div class="row">
                        <div class="col-sm-4">Mars 2016 à<br/>maintenant</div>
                        <div class="col-sm-8"><b>Développeur PHP Symfony</b><br/>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">Alcyon</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Janvier 2016</div>
                        <div class="col-sm-8"><b>Site Ludothèque de Horbourg-Wihr</b><br/>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">La Caverne d'Ali Baba</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Décembre 2013</div>
                        <div class="col-sm-8"><b>Électrotechnicien</b><br/>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">Entreprise Gressier & fils</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Oct. / Nov. 2012</div>
                        <div class="col-sm-8"><b>Agent de maîtrise</b><br/>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">Alinéa Semecourt</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Juin 2012 et <br/>Avril 2011</div>
                        <div class="col-sm-8"><b>Électricien stagiaire</b><br/>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">JD Elec</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <h3>Formations</h3>
                    <div class="row">
                        <div class="col-sm-4">Décembre 2015</div>
                        <div class="col-sm-8"><b>Développeur / Intégrateur web</b><br/>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">3W Academy - Strasbourg</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Août 2012</div>
                        <div class="col-sm-8"><b>Technicien en électricité d'équipement</b><br/>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">AFPA - Strasbourg</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Juillet 2011</div>
                        <div class="col-sm-8"><b>Électricien d'équipement</b><br/>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">AFPA - Colmar</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">Juin 2010</div>
                        <div class="col-sm-8"><b>Bac S option SVT</b><br/>
                            <div class="row">
                                <div class="col-sm-offset-2 col-sm-10">Lycée Blaise Pascal - Colmar</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <h3>Informations complémentaires</h3>
                    <br>
                    <ul>
                        <li>
                            <span class="infoComp">Langues</span> : Anglais : niveau bon, Allemand ; niveau moyen
                        </li>
                        <li>
                            <span class="infoComp">Loisirs</span> : Tennis, ping-pong, ski, modélisme, guitare, jeux, jonglage
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>


{% endblock %}