{% extends "hollux/Base/base.html.twig" %}

{% block principal %}
    <div class="blocHaut">
        <div class="container">
            <h1>Curriculum Vitae</h1>
            <p>Je recherche un poste de développeur web full stack ou back-end chez l'annonceur ou en start-up.</p>
            <a href="https://old.hollux.pw/viewpdf/adrien_marchand_cv" target="_blank">Version PDF</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10 CV">
                <div class="CV">
                    <div class="row">
                        <div class="col-sm-3"><b>Adrien Marchand</b></div>
                        <div class="col-sm-offset-6 col-sm-3">Permis B + véhicule</div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">Né le 19 mars 1991</div>
                        <div class="col-sm-9"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">holluxpanda@gmail.com</div>
                        <div class="col-sm-9"></div>
                    </div>
                    <h2 class="text-center"><b>Développeur web Full stack Symfony</b></h2>
                    <br>
                    <h3>Compétences</h3>
                    <ul>
                        <li>
                            <p>Langages : <b>HTML, CSS, PHP, JS, MySql</b>, Less, Sass.</p>
                        </li>
                        <li>
                            <p>Framework <b>Symfony3 / 4</b>, <b>VueJS</b>, Laravel, ZendFramework.</p>
                        </li>
                        <li>
                            <p>CMS : WordPress, Prestashop.</p>
                        </li>
                        <li>
                            <p>Mise en place de sécurité sur le site, gestion de base de données, notions de SEO.</p>
                        </li>
                        <li>
                            <p>Utilisations d'outils divers ( Git, SVN, Captcha, PageSpeedInsight, Analytics )</p>
                        </li>
                        <li>
                            <p>Création d'un serveur Web Multi-site en Linux.</p>
                        </li>
                    </ul>
                    <br>

                    <h3>Expériences professionnelles & Formations</h3>
                    {#Alcyon#}
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p>Mars 2016 à maintenant</p>
                        </div>
                        <div class="col-xs-7">
                            <p><b>Développeur full stack</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p></p>
                        </div>
                        <div class="col-xs-offset-1 col-xs-6">
                            <p>Alcyon France</p>
                        </div>
                    </div>

                    {#Formation symfony#}
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p>Janvier 2017</p>
                        </div>
                        <div class="col-xs-7">
                            <p><b>Formations Symfony : SFC3 / SFC4 </b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-6 col-xs-offset-6 col-xs-6">
                            <p><b>Learning</b> // Sensiolabs</p>
                        </div>
                    </div>

                    {#Formation dev#}
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p>Octobre à décembre 2015</p>
                        </div>
                        <div class="col-xs-7">
                            <p><b>Formation Développeur / intégrateur</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p></p>
                        </div>
                        <div class="col-xs-offset-1 col-xs-6">
                            <p>3W Academy</p>
                        </div>
                    </div>
                    {#tech elec#}
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p>Janvier 2011 à Décembre 2014</p>
                        </div>
                        <div class="col-xs-7">
                            <p><b>Formation et travail en tant que Technicien en éléctricité</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p></p>
                        </div>
                    </div>
{#                    #}{#formation tech#}{#
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p>Septembre 2011 à </p>
                        </div>
                        <div class="col-xs-7">
                            <p><b>Technicien en éléctricité</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p>&nbsp Aout 2012</p>
                        </div>
                        <div class="col-xs-offset-1 col-xs-6">
                            <p>AFPA - Colmar</p>
                        </div>
                    </div>
                    #}{#Formation elec#}{#
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p>Janvier 2011 à </p>
                        </div>
                        <div class="col-xs-7">
                            <p><b>Eléctricien</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p>&nbsp Août 2011</p>
                        </div>
                        <div class="col-xs-offset-1 col-xs-6">
                            <p>AFPA - Colmar</p>
                        </div>
                    </div>
                    #}{#bac#}{#
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p>Septembre 2008</p>
                        </div>
                        <div class="col-xs-7">
                            <p><b>Bac S - SVT</b></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-4 col-xs-5">
                            <p>&nbsp Juin 2010</p>
                        </div>
                        <div class="col-xs-offset-1 col-xs-6">
                            <p>Lycée Blaise Pascal</p>
                        </div>
                    </div>#}
                    <br>
                    <div class="row">
                        {#alcyon#}
                        <div class="col-sm-6">
                            <h3>Chez Alcyon</h3>
                            <ul>
                                <li><p>Symfony 3 (2 ans)</p></li>
                                <li><p>Zend Framework 1 (6 mois)</p></li>
                                <li><p>Application Android en Java (6 mois)</p></li>
                                <li><p>Progressive Web App (1 mois)</p></li>
                            </ul>
                        </div>
                        {#perso#}
                        <div class="col-sm-6">
                            <h3>Projets personnels</h3>
                            <ul>
                                <li>
                                    <p>Symfony 3 et 4</p>
                                </li>
                                <li>
                                    <p>Mise en place de serveurs</p>
                                    <ul>
                                        <li>
                                            <p>Raspberry / NUC</p>
                                        </li>
                                        <li>
                                            <p>Raspbian / Linux</p>
                                        </li>
                                        <li>
                                            <p> Apache + PHP 7 + node.js + SSL</p>
                                        </li>
                                        <li>
                                            <p>MySQL + phpMyAdmin</p>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <p>Création d'un thème Wordpress</p>
                                </li>
                                <li>
                                    <p>Petit framework maison MVC</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3>Informations complémentaires</h3>
                    <br>
                    <ul>
                        <li>
                            <span class="infoComp">Langues</span> : Français : langue maternelle, Anglais : niveau bon, Allemand : notions
                        </li>
                        <li>
                            <span class="infoComp">Loisirs</span> : développer, jeux (vidéo/société), modélisme, guitare, tennis, ping-pong, ski, jonglage
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
    </div>


{% endblock %}