{% extends":HolluxBase:base.html.twig" %}


{% block principal %}

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="CV">
                <div class="row">
                    <div class="col-sm-3"><b>Adrien Marchand</b></div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-3">Permis B + véhicule</div>
                </div>
                <div class="row">
                    <div class="col-sm-3">Né le 19 mars 1991</div>
                    <div class="col-sm-9"></div>
                </div>
                <div class="row">
                    <div class="col-sm-3">hollux@hotmail.fr</div>
                    <div class="col-sm-9"></div>
                </div>

                <h2 class="text-center"><b>Développeur / Intégrateur Web</b></h2>
                <br>
                <h4><b>Compétences</b></h4>
                <br>
                <ul>
                    <li>
                        <p>Utilisation de différents langages : HTML5, CSS3, PHP, Javascript, Less.</p>
                    </li>
                    <li>
                        <p>Réalisation de sites web : site vitrine, forum, chat, ecommerce.</p>
                    </li>
                    <li>
                        <p>Gestion de base de donnée avec mySQL.</p>
                    </li>
                    <li>
                        <p>Mise en place de sécurité sur le site.</p>
                    </li>
                    <li>
                        <p>Développement du produit en MVC pour une gestion plus claire.</p>
                    </li>
                </ul>
                <br>
                <h4><b>Formations</b></h4>
                <br>
                <div class="row">
                    <div class="col-sm-2">Décembre 2015</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"><b>Développeur/Intégrateur Web</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-8"><span class="marginL20px"></span>3W Academy - Strasbourg</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Août 2012</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"><b>Technicien en électricité d'équipement</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9"><span class="marginL20px"></span>AFPA - Strasbourg</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Juillet 2011</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"><b>Electricien d'équipement</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9"><span class="marginL20px"></span>AFPA - Colmar</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Juin 2010</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"><b>Bac S option SVT</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9"><span class="marginL20px"></span>Lycée Blaise Pascal - Colmar</div>
                </div>
                <br>
                <h4><b>Expériences professionnelles</b></h4>
                <br>
                <div class="row">
                    <div class="col-sm-2">Mars 2016 à</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"><b>Développeur Symfony</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Maintenant</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"><span class="marginL20px"></span>Alcyon</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Janvier 2016</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"><b>Site Ludothèque de Horbourg-wihr</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9"><span class="marginL20px"></span>La caverne d'alibaba</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Décembre 2013</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"><b>Electrotechnicien</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9"><span class="marginL20px"></span>Entreprise Gressier & fils</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Oct. / Nov. 2012</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"><b>Agent de maîtrise</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9"><span class="marginL20px"></span>Alinéa-Semecourt</div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Juin 2012 et</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-8"><b>Electricien stagiaire</b></div>
                </div>
                <div class="row">
                    <div class="col-sm-2">Avril 2011</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-9"><span class="marginL20px"></span>Jd Elec</div>
                </div>
                <br>
                <h4><b>Informations complémentaires</b></h4>
                <br>
                <ul>
                    <li>
                        <span class="infoComp">Langues</span> : Anglais : niveau bon, Allemand ; niveau moyen
                    </li>
                    <li>
                        <span class="infoComp">Loisirs</span> : Tennis, ping-pong, ski, modélisme, guitare, jeux de
                        société, jonglage
                    </li>
                </ul>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>

{% endblock %}