{% extends":HolluxBase:base.html.twig" %}



{% block principal %}

    <div class="infoPerso">

        <h1>Quelques informations me concernant.</h1>


        <div class="infoPerso">

            <button data-link="quiSuis" class="btn bSlideShow  dropdown-toggle">Qui suis-je ?</button>

            <div data-link="quiSuis" class="slideShow dNone">

                <br>

                <p>Adrien Marchand, je suis aussi appelé Hollux sur la toile.</p>

                <p>A la fois calme, presque flegmatique mais aussi énergique et efficace, je détèste ne rien faire.</p>

                <p>Toujours avide de connaissances, de défi pour être fier de mon travail une fois réalisé.</p>

                <p>J'écoute aussi beaucoup les avis et conseils de tous pour me faire ma propre opinion et évoluer dans
                    les domaines qui me tiennent à coeur.</p>

                <br>

                <img src="{{ asset('img/moi.jpg') }}" alt="moi" width="100%">

            </div>

        </div>

        <br>

        <div class="infoPerso">

            <button data-link="maVie" class="btn bSlideShow  dropdown-toggle">Ma vie</button>

            <div data-link="maVie" class="slideShow dNone">

                <br>

                <p>Développeur de 24 ans, j'ai découvert le web très jeune, alors qu'il fallait presque une semaine pour
                    télécharger un film. Depuis je ne l'ai plus quitté. J'ai également une appétence pour le hardware,
                    et je monte moi-même mes ordinateurs depuis que j'ai 10 ans.</p>

                <br>

                <p>Technicien en Electricité il y a encore 1 an, j'ai changé de voie et ai suivi une formation de
                    développeur / intégrateur web pour faire un métier qui me motive plus.</p>

                <p>Alsacien d'origine, je pars maintenant à la conquête de Lyon pour élargir mes horizons et m'immerger
                    dans son environnement technologique et numérique fort.</p>

                <br>

                <img src="{{ asset('img/colmar.jpg') }}" alt="colmar" width="100%">

            </div>

        </div>

        <br>

        <div class="infoPerso">

            <button data-link="mesPassions" class="btn bSlideShow dropdown-toggle">Mes passions</button>

            <div data-link="mesPassions" class="slideShow dNone">

                <br>

                <p>Je suis un passionné de jeux en tous genres : jeux de plateau, de figurines, de cartes ou de dés,
                    jeux vidéos...</p>

                <p>Très clairement un passionné de stratégie, cela a fortement développé ma réflexion, et fait que
                    j'apprends très vite avec une logique assez brute.</p>

                <br>

                <p>Je m'intéresse également au modélisme, au cinéma, aux séries. Je joue de la guitare, et fais du
                    tennis, du ping-pong et même du jonglage (des fois avec du feu !).</p>

                <br>

                <img src="{{ asset('img/passions.jpg') }}" alt="passions" width="100%">

            </div>

        </div>

    </div>

{% endblock %}


