{% extends "hollux/Base/base.html.twig" %}

{% block principal %}
    <div class="blocHaut">
        <div class="container">
            <h1>Me contacter</h1>
            <p>Pour me contacter, n'hésitez pas à m'envoyer un email à l'adresse <a href="mailto:holluxpanda@gmail.com"><b>holluxpanda@gmail.com</b></a>
            Je vous répondrai au plus vite.<br>Vous pouvrez également bientot me laisser un message directement sur ce site !</p>
        </div>
    </div>
    <div class="container meContacter">
            <a href="#" title="Haut de page" class="scrollup"><i class="fa fa-arrow-up"></i></a>


    </div>


{% endblock %}