{% extends":HolluxBase:base.html.twig" %}


{% block principal %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur consequuntur cumque deleniti eius 
        hic labore nobis porro recusandae ut! Amet eius 
        nostrum reiciendis sit. Adipisci alias beatae hic temporibus ullam?</p>

    <img src="{{ asset('img/beaujolais.jpg') }}" alt="beaujolais">
    <img src="{{ asset('img/fill/1199/161/beaujolais.jpg') }}" alt="beaujolais">
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dicta distinctio ducimus est 
        exercitationem fugit ipsam iste magni molestias 
        mollitia nobis numquam odit omnis, optio pariatur 
        quasi soluta, vel, veritatis?</p>

{% endblock %}