/* ====================
//       RESET       //
==================== */
/* Internet Explorer 10 doesn't differentiate device width from viewport width,
and thus doesn't properly apply the media queries in Bootstrap's CSS.
Normally you'd just add a quick snippet of CSS to fix this:*/
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
@media print {
  .bg-danger {
    background-color: #f2dede !important; } }
/* Special smartphone */
@media (max-width: 767px) {
  .container {
    width: auto;
  }
  h3, .h3 {
    font-size: 18px;
    margin-top: 10px;
  }
}
/* Prevent scroll on narrow devices */
/* html,body { overflow-x: hidden;} */
blockquote {
  font-size: 15px;
  margin: 10px;
  padding: 5px !important;
}
a {
  outline: 0 !important;
}

/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/*	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/*	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/*	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/*	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* 	FIN RESET CSS */
/* ====================
//       TEST        //
==================== */
.mailCss {
  background-color: #449d44;
}

.imgTEST {
  max-width: 200px;
}

/* ====================
//       BASE        //
==================== */
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}
img {
  max-width: 100%;
}
h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    color: #e4cc8c;
}
h2 {
  font-size: 20px;
  font-weight: bold;
  text-align:center;
  margin-bottom:30px;
  text-transform:uppercase;
}
h3 {
  padding-top: 0px;
  font-size: 16px;
  font-weight: bold;
  color:#e4cc8c;
}
.h4 {
    font-size: 18px;
}
a {
  color: #e4cc8c;
}
a:hover, a:focus, a:active {
  color: #e4cc8c;
  text-decoration:none;
}
.btn {
    background-color:#e4cc8c;
    color:white;
}
.project hr {
  width:40%;
}
/*.project {
  text-align:center;
}*/
.project h3 {
  color:#e4cc8c;
  text-align:center;
}

.avatar {
  max-width: 100px;
}
.m0auto {
  display: block;
  margin: 0 auto;
}
.dNone {
  display: none;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
}
@media (min-width: 1200px) {
  .md-flex-center {
    display: flex;
    justify-content: center;
  }
}
.display {
  display: inline-block;
}
.fLeft {
  float: left;
}
.strong {
  font-weight: bold;
}
/* 	Marge */
/* 	Marge */
.marginL20px {
  margin-left: 20px; }

.marginR20px {
  margin-right: 20px; }

.marginL20px {
  margin: 20px; }

.marginT10px {
  margin-top: 10px; }

.marginB10px {
  margin-bottom: 10px; }

.h10px {
  height: 10px; }

.w25 {
  width: 25%; }

.w50 {
  width: 50%; }

/* 	Color */
/* 	Color */
.bg-black {
  background-color: black; }

.bg-white {
  background-color: white; }

.bg-green {
  background-color: green; }

.bg-red {
  background-color: red; }

.white {
  color: white; }

.black {
  color: black; }

.bg-222222 {
  background-color: #222222; }

.flash-bg-24bd24 {
  background-color: #24bd24; }
  .flash-bg-24bd24 p {
    margin: 0 5px 10px;
    padding: 2px 0; }

.flash-bg-red {
  background-color: red; }
  .flash-bg-red p {
    margin: 0 5px 10px;
    padding: 2px 0; }

/* ====================
//	 BASE HOLLUX     //
==================== */
body {
}
.container {
  background-color: white;
}

.btn:hover {
  background-color: #9F9F9F; }

.logo {
  margin: -10px 0 0 -4px;
  height: 45px; }

.navbar-nav > li > a {
  line-height: 25px;
  font-size: 18px; }

.navbar {
  border-radius:0;
}

.navbar-inverse {
  background-color: rgba(34, 34, 34, 0.95);
  border: none;
}

.barre {
  text-decoration: line-through; }

/* ====================
//	     TEST        //
==================== */
.test .imgSites .imgSite {
  text-align: center; }
  .test .imgSites .imgSite .site1, .test .imgSites .imgSite .site2, .test .imgSites .imgSite .site3 {
    position: relative;
    margin: 5px; }
  .test .imgSites .imgSite .site1:hover, .test .imgSites .imgSite .site2:hover, .test .imgSites .imgSite .site3:hover {
    opacity: 0.5; }
  .test .imgSites .imgSite .imgHover {
    position: absolute;
    top: 50%;
    width: 80%;
    /* display:none; */ }
  .test .imgSites .imgSite .imgeHover {
    /* display: block; */ }
  .test .imgSites .imgSite .site1:hover .imgHover {
    display: block; }

/* ====================
	LISTBUILDER
==================== */
.btn-figurine {
  color: black;
  background-color: #f0ead8;
  border-color: #f1b288;
  width: 100%; }
  .btn-figurine .figName {
    text-align: left; }
  .btn-figurine .figCost {
    text-align: right; }

.btn-figurine2 {
  color: black;
  background-color: #f0ead8;
  border-color: #f1b288;
  width: 100%; }

.btn-list {
  color: blue;
  background-color: lightgrey;
  border-color: dimgrey;
  width: 100%;
  magin: 10px; }

/* ====================
	POST OVERLAY
==================== */
.post {
  width: 100%;
  height: 200px;
  overflow: hidden; }
  .post .post-content {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .2s ease-in; }
    .post .post-content .post-overlay {
      background: rgba(0, 0, 0, 0.5);
      /* position: absolute; */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .5s ease-in-out; }
      .post .post-content .post-overlay .post-title {
        position: absolute;
        width: 100%;
        top: 37.5%;
        right: -100%;
        transition: all .6s ease-in-out .2s; }
  .post .post-content1 {
    background-image: url("/img/fill/360/200/ludoWp.jpg"); }
  .post .post-content2 {
    background-image: url("/img/fill/360/200/haricotfr.jpg"); }
  .post .post-content3 {
    background-image: url("/img/fill/360/200/solveigdcfr.jpg"); }

.post:hover .post-content {
  transform: scale(1.1); }

.post:hover .post-overlay {
  opacity: 1; }

.post:hover .post-title {
  transform: translatex(-100%); }

/* ====================
//	     HOME        //
==================== */
.bandeau {
  min-width: 100%;
  margin-top: -75px;
    width:100%;
}
.hollux {
    margin-top:20px;
}
.hollux img {}
.home .imgSites .post {
  width: 100%;
  height: 200px;
  overflow: hidden; }
  .home .imgSites .post .post-content {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all .2s ease-in; }
    .home .imgSites .post .post-content .post-overlay {
      background: rgba(0, 0, 0, 0.5);
      /* position: absolute; */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all .5s ease-in-out; }
      .home .imgSites .post .post-content .post-overlay .post-title {
        position: absolute;
        width: 100%;
        top: 37.5%;
        right: -100%;
        transition: all .6s ease-in-out .2s; }
/*  .home .imgSites .post .post-content1 {
    background-image: url("/img/site1.jpg"); }
  .home .imgSites .post .post-content2 {
    background-image: url("/img/wonder2.jpg"); }
  .home .imgSites .post .post-content3 {
    background-image: url("/img/ludoWp.jpg"); }*/
.home .imgSites .post:hover .post-content {
  transform: scale(1.1); }
.home .imgSites .post:hover .post-overlay {
  opacity: 1; }
.home .imgSites .post:hover .post-title {
  transform: translatex(-100%); }

.container.infoPerso, .container.testImg, .container.testCache, .container.wuw {
  min-height: calc(100vh - 50px);
}

.container.meContacter {
  min-height: calc(100vh - 300px);
}

.citation {
  background-color: #e4cc8d;
  /*padding: 30px 20px;*/
  height:2px;
  margin:20px auto;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
}
.citation .container {
  background-color: #e4cc8d;
  color:white;

}
.citation .container p {
  width:80%;
  margin:auto 10%;
}

/* ==============================
//	  COMMUN PAGES INTERNES    //
============================== */

.blocHaut {
  background: linear-gradient(to top left, #e4cc8c, #7e57c2);
  margin:-75px auto 40px;
  padding:100px 0 70px;
  height: 250px;
}
.blocHaut .container {
  background-color:transparent;
}
.blocHaut h1, .blocHaut p {
  color:white;
  text-align:left;
}
div.allProjects {
  background-color: #e4cc8c;
  border-radius: 2px;
  padding: 13px 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin: 30px auto;
  width: 50%;
  color:white;
  text-align: center;
  box-shadow: 0px 4px 3px rgba(51, 51, 51, 0.09);
}
div.allProjects:hover, div.allProjects:focus, div.allProjects:active{
  color:#ffffffcc;
}

/* ====================
//	 COMPETENCES     //
==================== */
.competences img {
  margin: 15px 20px;
  max-height: 100px;
  width: auto; }
.competences .border {
  border: 1px dashed black; }

/* ====================
//	     CV          //
==================== */
.CV {
  background-color: #e2ca8c47;
  padding: 20px;
  /*border-radius: 10px;*/
}
.CV h3 {
  color:#333;
}
  .CV p {
    line-height: 13px; }
  .CV div {
    line-height: 18px; }
  .CV .infoComp {
    font-weight: bold;
    text-decoration: underline; }

/* ====================
//	  INFOS PERSO    //
==================== */
.btnCollapse {
  background-color:#e4cc8c;
  color:white;
}
/* ====================
//	 REALISATIONS    //
==================== */
.realisations a h3 {
  text-align:center;
  margin-bottom:10px;
}
.realisations p {
    margin-bottom:30px;
}

/* ========================
//	 MENTIONS LEGALES    //
======================== */
.mentions h2 {
  text-align:left;
}

/* ====================
//	    FOOTER       //
==================== */
footer {
  background-color: #333333;
  color: white;
 /* min-height: 5%;
  width: 100%; }
  @media (max-width: 768px) {
    footer .w25 {
      width: 50%; } }
  footer .footerA {
    overflow: hidden; }
  footer .footerB {
    vertical-align: top; */}

footer .container {
  background-color:#333333;
  min-height:50px;
}
footer .container a img.gitHub {
  height:25px;
  margin:-2px 10px auto;
  float:unset;
}
footer .container a img {
  float: left;
  margin-left: -15px;
}
footer .container .footer {
  text-align:right;
  margin-top:16px;
}
footer .footer p a, footer .footer p {
  color:#9d9d9d;
  text-decoration:none;
  display:inline-block;
}
footer .footer p a:hover, footer .footer p a:focus, footer .footer p a:active {
  text-decoration:none;
  color:white;
}

/* SCROLLUP */
/* SCROLLUP */
.scrollup {
  z-index: 1;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 15%;
  right: 5%;
  display: none;
  color: #C815D7;
  background: url(/img/fill/40/40/fleche_haut_blanc.png);
  background-size: 100%;
  border: 1px solid #3a3f51;
  font-size: 20px;
  text-align: center;
  line-height: 37px; }

.scrollup:hover {
  background-color: #F30505; }

/* SCROLLbot */
/* SCROLLbot */
.scrollbot {
  z-index: 1;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 15%;
  right: 20%;
  /* display: none; */
  color: #C815D7;
  background: url(../../../img/fleche_bas_blanc.png);
  background-size: 100%;
  border: 1px solid #3a3f51;
  font-size: 20px;
  text-align: center;
  line-height: 37px; }

.scrollbot:hover {
  background-color: #F30505; }

/* ====================
	TEL
==================== */
/* .flex
{
	p
	{
		width: 9%;
		margin:10px;
	}
} */
/* ====================
	SMASH UP
==================== */
.faction {
  padding: 5px;
  background-color: #C9C9C9; }

.faction:nth-child(2n+1) {
  background-color: #D7D7D7; }

span {
  width: 20px; }

/* ====================
		CHAT
==================== */
@media (min-width: 1100px) {
  #chat {
    height: 500px;
    overflow: auto;
    width: 100%;
    border: 2px solid black;
    padding: 3px 2px 3px 5px; } }
textarea#textarea {
  border: 1px solid black;
  resize: none;
  outline: none;
  width: 100%;
  height: 55px; }

/* ====================
		JEUX 1
==================== */
.minima .reponse-valide {
  background-color: rgba(102, 255, 102, 0.2); }
.minima .reponse-invalide {
  background-color: rgba(255, 26, 26, 0.2); }

/* ====================
//       BASE        //
==================== */

/*# sourceMappingURL=holluxSass.css.map */
